/*==========================================================================
	global
==========================================================================*/

/*--------------------------------------------------------------------------
	html
---------------------------------------------------------------------------*/
html{
	overflow-y: scroll;
  font-size: 62.5%;
  line-height: 100%;
}


/*--------------------------------------------------------------------------
	body
---------------------------------------------------------------------------*/
body{
	font-family: $FontFamily;
	font-size: $FontSize;
	color: $FontColor;
	line-height: 1.8;
	text-size-adjust: 100%;
}


/* @SP */
@media #{$MQ_SP}{
	body{
		// font-size: 12px;
	}
}


/*----------------------------------------------------------------------
	a
----------------------------------------------------------------------*/
a{
	color: #11c;
	outline: none;

	&:link,
	&:visited{ color: #11c;}
	&:hover  { color: #11c;}
	// &:focus,
	// &:active { color: #f90;}
}


